<div class="table-responsive-md">
<label ><h1>Usuarios</h1></label>

<div class="alert alert-success" *ngIf="!staticAlertWinnClosed">
    <strong>Eliminado!</strong> 
  </div>

  <div class="alert alert-danger" *ngIf="!staticAlertLoserClosed">
    <strong>Error!</strong> 
  </div>
<table class="table table-hover">
  <thead>
  <tr>
   
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Email</th>
      <th scope="col">Direccion</th>
      <th scope="col">Telefono</th>      
   <th colspan="2">Actions</th>
  </tr>
  </thead>

  <tbody>
      <tr *ngFor="let user of Users">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.last_name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.address }}</td>
          <td>{{ user.code_contry }} {{  user.phone }}</td>
          <td>
          <button type="button" [routerLink]="['edit', user._id]" class="btn btn-primary btn-sm m-0 waves-effect">Editar</button>
          
       <td><button type="button" (click) = "DeletUser(user._id)" class="btn btn-danger btn-sm m-0 waves-effect">Danger</button></td>
      </tr>
  </tbody>
</table>
</div>